body {
  background-color: cadetblue;
}
h1 {
  color: azure;
  font-family: courier;
  text-align:center;
  border: 5px azure;
}
p {
  color: darkslategrey;
  font-family: sans-serif;
  text-align:center;
}




