body {
  background-color: cadetblue;
}
h1 {
  color: azure;
  font-family: courier;
  font-size:40px;
  text-align:center;
  border: 5px azure;
}
p {
  color: darkslategrey;
  font-family: sans-serif;
  text-align:center;
  padding: 35px;
}



